{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}


{% block pageTitle %}Apply for a personal License{% endblock %}
{% block head %}<link href="/assets/main.css" rel="stylesheet">{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Apply for a personal License",
    serviceUrl: "/",
    navigation: []
  }) }}


{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Unnoficial"
    },
    html: 'This is NOT an official government service - it is NOT produced or mainained by any government body'
  }) }}
{% endblock %}

{% block content %}

{% endblock %}




{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}