{% extends "./template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}


{% block pageTitle %}GOVLITE.UK{% endblock %}
{% block head %}<link href="/assets/main.css" rel="stylesheet">{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "",
    serviceUrl: "/",
    navigation: []
  }) }}


{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Unnoficial"
    },
    html: 'This is NOT a government service. This is NOT produced or mainained by ANY government body!'
  }) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Welcome to GOVLITE.UK</h1>
<h1 class="govuk-heading-l">A note</h1>
<p class="govuk-body">This is a community-made website that is not produced, maintained, or supported by any government body. You can find this website's repo on <a href="https://github.com/nohumanman/GOVLITE.UK">GitHub</a>, contributions are welcome. This is made using the <a href="https://frontend.design-system.service.gov.uk/">GOV.UK frontend framework</a>.</p>
<h1 class="govuk-heading-l">Services</h1>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/alcohol-licensing/personal-license-application">Personal License Application</a>
  </li>
</ul>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}