{% extends "./template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}


{% block pageTitle %}GOVLITE.UK{% endblock %}
{% block head %}<link href="{{ base_url }}assets/main.css" rel="stylesheet">{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "",
    serviceUrl: "/",
    navigation: []
  }) }}


{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Unnoficial"
    },
    html: 'This is NOT a government service. This is NOT produced or mainained by ANY government body!'
  }) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Welcome to GOVLITE.UK</h1>

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "A demonstration of how the GOV.UK design system can be used to easily create a phishing website."
}) }}

<h1 class="govuk-heading-l">Issues of Accessibility</h1>
<p class="govuk-body"><a class="govuk-link" href="https://gov.uk/">GOV.UK</a> has an incredible dedication to their design system, they have a huge community working on making websites for government services accessible for as many users as possible</p>
<p class="govuk-body">The approach of the <a class="govuk-link" href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service (GDS)</a> is to make the design system as accessible as possible, and to do this, they have published the design system as open source on <a class="govuk-link" href="https://github.com/alphagov/govuk-frontend">GitHub</a> and available as a package on <a class="govuk-link" href="https://www.npmjs.com/package/govuk-frontend">npm</a>.</p>
<p class="govuk-body">This design system can be installed and used by anyone, and makes it incredibly easy to emulate a government service. In a world where we use GOV.UK for many essential services (tax, benefits, identity, etc.), it's incredibly important to consider the malicious use of this system.</p>
<p class="govuk-body">Is it more important to make design systems accessible, or to minimise malicious intent.</p>

<h1 class="govuk-heading-l">A phishing example</h1>
<p class="govuk-body">To demonstrate potential for the malicious use of this system, take a look at this <a class="govuk-link" href="{{ base_url }}/personal-license-application.html">example personal license application</a> webpage. This application requires:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Your debit/credit card</li>
  <li>A digital certificate of licensing qualification</li>
  <li>Passport-style photograph</li>
  <li>DBS Check</li>
</ul>
<p class="govuk-body">all of which could be used in incredibly malicious ways.</p>

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="{{ base_url }}assets/govuk.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}