{% extends "./template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}Apply for a personal License{% endblock %}
{% block head %}<link href="/assets/main.css" rel="stylesheet">{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Apply for a personal License",
    serviceUrl: "/alcohol-licensing/personal-license-application",
    navigation: []
  }) }}


{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Unnoficial"
    },
    html: 'This is NOT an official government service. This is NOT produced or mainained by ANY government body'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Alcohol Licensing",
        href: "/alcohol-licensing"
      },
      {
        text: "Personal License Application",
        href: "/alcohol-licensing/personal-license-application"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Apply for a personal License</h1>
  <p class="govuk-body">If you want to sell or authorise the sale of alcohol, you may need a personal licence. To become a designated premises supervisor (DPS) of a premises that sells alcohol you will need a personal license. You can find more about when you need a license <a href="https://www.gov.uk/guidance/alcohol-licensing">here</a>.</p>
  <p class="govuk-body">Use this service to apply for a personal license to sell alcohol. To apply you must:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>be at least 18 years old</li>
    <li>have a licensing qualification from <a href="https://www.gov.uk/government/publications/accredited-personal-licence-qualification-providers/accredited-personal-licence-qualification-providers">an accredited provider</a>.</li>
  </ul>
    {{ govukInsetText({
      text: "You no longer need to renew your personal licence. Personal licences will now carry on indefinitely until they are surrendered or revoked.

"
    }) }}
  <p class="govuk-body">
    
  </p>
    {{ govukButton({
    text: "Start now",
    href: "/alcohol-licensing/personal-license-application/q1",
    isStartButton: true
  }) }}
  <h1 class="govuk-heading-l">Before you start</h1>
  <p class="govuk-body">You’ll need:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>A debit or credit card</li>
    <li>A digital certificate of your licensing qualification</li>
    <li>A <a href="https://www.gov.uk/photos-for-passports">passport-style</a> photograph</li>
    <li>A DBS Check that is not more than one month old</li>
  </ul>
  <p class="govuk-body">You may be asked for further information such as your National Insurance Number.</p>

  <h1 class="govuk-heading-l">Cost</h1>
  <p class="govuk-body">It costs £34 to apply online. You can pay by MasterCard, Visa, Electron or Delta debit or credit card.</p>

{% endblock %}




{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}